.box {
    padding: 10px 10px;
    background-color: rgb(207, 203, 203);
    height: 100%;
}

.read {
    display: block;
    margin-top: 32px;
}

.headi {
    text-align: center;
    font-weight: bolder;
    /* text-decoration: underline; */
}